@font-face{
    font-family: "GothamSSm";
    src: url(/Fonts/GothamSSm-Bold_Web.otf);
    src: url(/Fonts/GothamSSm-Book_Web.otf);
    src: url(/Fonts/GothamSSm-Light_Web.otf);
    src: url(/Fonts/GothamSSm-Medium_Web.otf);
    src: url(/Fonts/GothamSSm-XLight_Web.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: GothamSSm;
}

.container{
    width:99vw;
    height: 100vh;
}
.pages{
    display: flex;
    flex-direction: column;
    height: 300%;
}
.page{
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:10px;
    transition:all 1s ;

}
.page1{
    background-color: (255,255,255);
    position: relative;
    color: white;
    
}
.navbar{
    
    position: absolute;
    display: flex;
    align-items: flex-start;
    gap:2vw;
    left: 5vw;
    margin-top: 1vw;
    
}

.btn{
    padding: 5px;
}
.btn:hover{
    background-color: rgb(87,94,101);
    cursor: pointer;
}

.model{
    margin-left: 20vw;
}
.shop{
    margin-left: 10vw;
}
.page1 h1{
    left:40vw;
    top:10vh;
    font-size: 40px;
    margin: 10vh;
    font-weight: bolder;
    position: absolute;
}
.lower_big{
    position: absolute;
    margin-top: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 28px;
    gap:7vw;
    left:30vw;

}
.lower_small{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    gap:6vw;
    margin-top: 96vh;
    left:30vw;
}

.clearbtn{
    border: 2px white solid;
    padding:0.3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 18px;
    
}
.clearbtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.page2{
    background-color: (255,255,255);
    display: flex;
    flex-direction: row;
    
}
.safety_img{
    width: 70%;
    margin-left: 5%;
}
.page2 .safety{
    text-align: left;
    margin-top:100px;
    width:21%;
    margin-right: 3%;
    

}
.safety_img{
    width:80%;
    
}
.safety h3{
    font-size:28px ;
    padding-bottom: 2vh;
}
.safety h4{
    font-size:14px ;
    font-weight: bolder;
    padding-bottom: 2vh;
    padding-top: 2vh;
}
.clearbtn2{
    border: 2px black solid;
    text-align: center;
    margin-top: 20vw;
    margin-bottom: 5vw;
    margin-left: 6vw;
    padding: 0.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    
}
.clearbtn2:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.clearbtn3{
    border: 2px black solid;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 0.5vw;
    
    
}
.clearbtn3:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.page3{
    background-color: (255,255,255);
    position: relative;

}
.lower_big2{
    position: absolute;
    margin-top: 55vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 28px;
    gap:12vw;
    left:30vw;
    color: white;

}
.lower_small2{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    gap:4vw;
    margin-top: 59vh;
    left:25vw;
    color: white;
}
.text_small2{
    width:12vw;
    text-align: center;
    size: 12px;
}
.text{
    display: flex;
    position: absolute;
    margin-top: 80vh;
    

}

.left_page3{
    width:50%;
margin-left:30vw;
}
.left_page3 h5{
    font-size:17px ;
}
.left_page3 h3{
    font-size:28px ;
}
.right_page3{
    width:50%;
    margin-right: 10vw;
    text-align: left;
}









@media(max-width:500px){
    .navbar{
        display: none;
    }
    
    .main_img{
        min-height: 100%;
        width: 99%;
    }

    .menu{
        display: flex;
        top: 0;
       }
       .page1{
        height: 100vh;
       }
       .page h1{
        font-size: 25px;
        margin: 0;
       }
       .lower_big{
        margin: 0;
        padding: 0;
        margin-top: 60vh;
        font-size: 21px;
       }
       .clearbtn{
        position: absolute;
        top:10vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }
       .lower_small{
        margin: 0;
        padding: 0;
        margin-top: 65vh;
        font-size: 10px;
        
       }
       .page2{
        display: flex;
        flex-direction: column;
        width: 95%;
        position: relative;
       }
       .page2 .safety{
        text-align: left;
        width:100%;
        padding-left: 3vw;
    }
    .safety_img{
        width:100%;
    }

    .performance_img{
        min-height: 100%;
        width: 99%;
    }

    

    .page3{
        display: flex;
        flex-direction: column;
     }
     .lower_big2{
        margin-top: 40vh;
    }
    .lower_small2{
        display: none;
    }
     .text{
        flex-direction: column;
        margin-top: 70vh;
        text-align: left;
        width:100%
     }
.left_page3{
    text-align: left;
    margin: 0;
    padding-left: 5vw;
    width: 100%;
}

.right_page3{
    width:100%;
    padding: 5vw;
}
    }



/* 
@media(max-width:500px){


    .page3{
        display: flex;
        flex-direction: column;
     }
     .text{
        flex-direction: column;
        margin-top: 30vh;
        text-align: center;
        width:100%
     }
     .left_page3{
        width:100%
     }
     .right_page3{
         width:100%;
         padding-left: 5vw;
         padding-right:5vw ;
     }
} */

